.information h2{
	margin-right:5px;
	font-size:20px;
	}	
.information h3{
	margin-left:10px;
	font-size:20px;
   color:yellow;
}	

.information h4{
	margin-right:10px;
	font-size:20px;
    
} 
.information h5{
	margin-left:5px;
	font-size:20px; 
}
.ending h6{
	margin-left:10px;
	font-size:20px;
	}
.ending h1{
   margin-right:10px;
   font-size:20px;
   	margin-bottom:10px;
    color:skyblue;
   	}
.ending h2{
margin-left:10px;
font-size:20px;	
}   	
nav{
	display:inline-grid;
	height:100px;
	text-transform:uppercase;
	width:100%;
    background-color:skyblue;
    justify-content:space-between;
}
.information{
	text-align:center;
	height:50px;
	width:355px;
    color:yellow;
    margin-top:10px;
    margin-right:1000px;
    float:right;
}

.aboutmyself{
	height:50px;
	color:orange;
	width:600px;
	margin-top:50px;
    margin-left:600px;
  
}

.ending{
	color:skyblue;
	height:70px;
	width:100px;
	margin-left:200px;
	margin-top:300px;
	padding:0 75px;
}
.mainbody1{
	height:100%;
	width:100%;
	background-color:black;
	display:grid;
}
.label{
	color:white;
     line-height:70px;
     font-size:40px;
     padding:0 100px;
}   
 nav ul{
 	text-align:center;
 	float:right;
    
    margin-left:300px;
      }
nav ul li{
	display:inline-block;
	line-height: 50px;
	margin:0 5px;
	margin-right:90px;
}
nav ul li a{
	opacity:1;
	color:purple;
     font-size:20px;
     display:inline-block;
}    
 nav ul li a:hover
  {
  	font-size:30px;
  	background-color:goldenrod;
  }

.mainbody3{
 	background-color:black;
    text-align:center;

} 
.mainbody2{
	background-color:black;
	text-align:center;
	height: 100%;
}
.mainbody4{
	background-color:black;
}

.myfolio{
	background-color: black;
   text-align: center;
}

.folio{
	color: yellow;
}

a{
	text-decoration:none;
}



.aboutmyself h5{
	font-size:25px;
	color: red;
}
.myfolio h4{
	color: yellow;
    font-size:15px;
}
.dad{
	color: white;
}
.dad1{
	color: white;
}
.dad2{
	color: white;
}
.dad3{
	color: white;
}
h1{
	color: white;
}
h3{
	color: white;
}
#hope{
	float: left;
	display: inline-block;
}

.image2{
	display: block;
	float: right;
	padding-left: 200px;
	margin-top: 50px;
	
}
.image1{
	
	float: left;
	margin-left: 200px;
	padding-bottom: 300px;
	margin-top: 50px;
	


}
.mainbody5{
	background-color: white;
} 
.mainblock{
	
}
.mom1 h2{
	color: red;
	text-align:center;
	background-color: blue; 
}.mom2 h3{
	color:red;
 text-align: center;
 background-color: blue;
}
.mom1 p{
     text-align: center;
	font-size:25px; 
    background-color: pink;
}
.mom4 h3{
	text-align: center;
}
.mom5 h1{
	text-align: center;
}
.mom3 h1{
	text-align: center;
}
.mom2 h1{
	text-align: center;
}
.mom2 p{
	font-size: 25px;
	text-align:center;
	background-color: pink;
}
.mom3 p{
	font-size: 25px;
	text-align: center;
	background-color: pink;
}
.mom4 h2{
	text-align: center;
	font-size: 25px;
  background-color: pink;
}
.mom5 h2{
  font-size: 25px;
  text-align: center;
  background-color: pink;
}
.mom6 h2{
	font-size: 25px;
	text-align: center;
	background-color: pink;
}
.mom4 p{
	font-size:25px;
	background-color:pink;
	text-align: center;
}
.mom5 p{
	font-size: 25px;
	text-align: center;
	background-color: pink;
}
.mom6 p{
	font-size: 25px;
	text-align: center;
	background-color: pink;
}
.grid-box{
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-columns: 299px 400px 400px 400px;
	grid-gap: 5px;
	
	padding: 10px;
	grid-template-rows: 600px;
}
.grid-box > div{
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}
.box1{
	width:300px;
}
.mom3 h2{text-align: center;
	color: red;
	background-color: blue;
	font-size: 25px;

}
.mom4 h2{
	text-align: center;
	color: red;
	background-color: blue;
    font-size: 25px;
}

.mom5 h2{
	text-align: center;
	color: red;
	background-color: blue;
	font-size: 25px;
}
.mom6 h2{
	text-align: center;
	color:red;
	background-color: blue;
    font-size: 25px; 
}
.mom7 h3{
    text-align: center;
    color: black;
    background-color:pink ;
    font-size: 25px;
}

.mom7 h4{
	text-align: center;
	color: red;
	background-color: pink;
    font-size: 25px;
}
.image112{
	display: none;
	width: 21px;
	height: 21px;
	margin-left: 20px;
	background-color:lightgreen;
	text-align: right;
}
.mom7 p{
	text-align: center;
	background-color: pink;
	font-size: 25px;

}
#check2{
	display: none;
}


@media screen and (max-width:1200px) and (min-width:500px){

#check2{
	display: none;
}
#check2: checked ~ nav ul{
	top: 0%;}
	nav{
		display: grid;
	width:1280px;		
		
	}
	.image112{
		display: block;
		cursor: pointer;
	}
nav ul{
		width: 950px;
		display: block;
		position: fixed;
		top:-100%;
		transition: all 1s ease;
		cursor: pointer;
		color: yellow;
	}
	#check2:checked ~ nav ul {
		top: 6%;
		left: -10%;
		background-color: yellow;

	}
	.image2{
		margin-right:-120px;
		margin-top: 30px;
	}
	.image2 h1{
		width: 500px;
	}
	.image1{
		margin-left: 250px;
	}
	.image1 h1{
		margin-left: -50px;
	}
	.myfolio,.folio{
		margin-left: 350px;
	}
