.information h2{
	margin-right:5px;
	font-size:20px;
	}	
.information h3{
	margin-left:10px;
	font-size:20px;
}	 
.information h4{
	margin-right:10px;
	font-size:20px;
} 
.information h5{
	margin-left:5px;
	font-size:20px; 
}
.ending h6{
	margin-left:10px;
	font-size:20px;
	}
.ending h1{
   margin-right:10px;
   font-size:20px;
   	margin-bottom:10px;
   	}
.ending h2{
margin-left:10px;
font-size:20px;	
}   	
nav{
	display:inline-grid;
	height:200px;
	text-transform:uppercase;
	width:200%;
    background-color:red;
    justify-content:space-between;
}
.information{
	text-align:center;
	height:80px;
	width:355px;
    color:yellow;
    margin-top:20px;
    margin-right:1000px;
    float:right;
}

.aboutmyself{
	height:80px;
	color:orange;
	width:200px;
	margin-top:250px;
    margin-left:600px;
    font-
}

.ending{
	color:skyblue;
	height:70px;
	width:100px;
	margin-left:200px;
	margin-top:100px;
	padding:0 75px;
}
.mainbody1{
	height:100%;
	width:100%;
	background-color:black;
	display:grid;
}
.label{
	color:white;
     line-height:70px;
     font-size:40px;
     padding:0 100px;
}   
 nav ul{
 	text-align:center;
 	float:right;
    
    margin-left:450px;
      }
nav ul li{
	display:inline-block;
	line-height: 100px;
	margin:0 5px;
	margin-right:90px;
}
nav ul li a{
	opacity:1;
	color:purple;
     font-size:20px;
     display:inline-block;
}    
 nav ul li a:hover
  {
  	font-size:50px;
  	background-color:skyblue;
  }

.mainbody3{
 	background-color:black;
    text-align:center;

} 
.mainbody2{
	background-color:black;
	text-align:center;
	height: 100%;
}
.mainbody4{
	background-color:black;
}
}
.myfolio{
	background-color: black;
}
a{
	text-decoration:none;
}
p{
	font-size:35px;
	margin-left:20px;
    float:left;
    text-align:center;
    background-color:pink;
    font-color:orange; 
}


.aboutmyself h5{
	font-size:25px;
}
.myfolio h4{
	font-color:yellow;
    font-size:15px;
}
.image1{
	box-shadow: 4.5px 4px 6px 2px rgba(0,0,0,0.6);
    margin-right:1100px;	
    margin-top:20px;
}

.image2{
	margin-right:500px;
}
.image3{
	margin-left:300px;
}
.image4{
	margin-left:1000px;
}
