.information h2{
	margin-right:5px;
	font-size:20px;
	}	
.information h3{
	margin-left:10px;
	font-size:20px;
   color:yellow;
}	

.information h4{
	margin-right:10px;
	font-size:20px;
    
} 
.information h5{
	margin-left:5px;
	font-size:20px; 
}
.ending h6{
	margin-left:10px;
	font-size:20px;
	}
.ending h1{
   margin-right:10px;
   font-size:20px;
   	margin-bottom:10px;
    color:skyblue;
   	}
.ending h2{
margin-left:10px;
font-size:20px;	
}   	
nav{
	display:inline-grid;
	height:100px;
	text-transform:uppercase;
	width:200%;
    background-color:red;
    justify-content:space-between;
}
.information{
	text-align:center;
	height:50px;
	width:355px;
    color:yellow;
    margin-top:10px;
    margin-right:1000px;
    float:right;
}

.aboutmyself{
	height:50px;
	color:orange;
	width:600px;
	margin-top:50px;
    margin-left:600px;
  
}

.ending{
	color:skyblue;
	height:70px;
	width:100px;
	margin-left:200px;
	margin-top:300px;
	padding:0 75px;
}
.mainbody1{
	height:100%;
	width:100%;
	background-color:black;
	display:grid;
}
.label{
	color:white;
     line-height:70px;
     font-size:40px;
     padding:0 100px;
}   
 nav ul{
 	text-align:center;
 	float:right;
    
    margin-left:450px;
      }
nav ul li{
	display:inline-block;
	line-height: 50px;
	margin:0 5px;
	margin-right:90px;
}
nav ul li a{
	opacity:1;
	color:purple;
     font-size:20px;
     display:inline-block;
}    
 nav ul li a:hover
  {
  	font-size:50px;
  	background-color:skyblue;
  }

.mainbody3{
 	background-color:black;
    text-align:center;

} 
.mainbody2{
	background-color:black;
	text-align:center;
	height: 100%;
}
.mainbody4{
	background-color:black;
}

.myfolio{
	background-color: black;
   text-align: center;
}

.folio{
	color: yellow;
}

a{
	text-decoration:none;
}



.aboutmyself h5{
	font-size:25px;
	color: red;
}
.myfolio h4{
	color: yellow;
    font-size:15px;
}
.maintitle{
	color: white;
}
.mbody{
	color: white;
}
.mainbody{
	color: white;
}
.mainblock{
	color: white;
}
h1{
	color: white;
}
h3{
	color: white;
}

.image1{
 margin-left:-100px;  
 margin-top:50px; 
}


.image2{
	float:right;
	margin-top: 10px;
    margin-right:200px;
}
.mainbody5{
	background-color: white;
} 
.mainblock{
	
}
.mom1 h2{
	color: red;
	text-align:center;
	background-color: pink; 
}.mom2 h3{
	color:red;
 text-align: center;
 background-color: pink;
}
.mom1 p{
	font-size:25px; 
}
.mom2 p{
	font-size: 25px;
}
.mom3 p{
	font-size: 25px;
}
.mom4{
	
	font-size: 25px;

}
.mom5{
  font-size: 25px;
}
.mom6{
	font-size: 25px;
}
.grid-box{
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-columns: 299px 400px 400px 400px;
	grid-gap: 5px;
	
	padding: 10px;
	grid-template-rows: 600px;
}
.grid-box > div{
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}
.box1{
	width:300px;
}
.mom3 h2{text-align: center;
	color: red;
	background-color: pink;

}
.mom4 h2{
	text-align: center;
	color: red;
	background-color: pink;
}
.mom5 h2{
	text-align: center;
	color: red;
	background-color: pink;
}
.mom6 h2{
	text-align: center;
	color:red;
	background-color: pink;
}
@media screen and (max-width:1000px) and (min-width:700px){
	.nav{flex-direction: column;}
	section {flex-direction: column;}
	.header{
		background-color: black;}
		.left-column{order:1; width:95%;}
        .right-column{order:1; width:95%;}
	}

	}
}